{% extends 'base.html' %}

{% block content %}

    <head>
        <title>{% block title %} Carro {% endblock %}</title>

    </head>

    <body>

        <div class="container" style="text-align:center">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-1">CARRO DE COMPRA</h1>

                    <div class="alert alert-primary" role="alert">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="row" colspan="3" class="text-center">CARRITO</th>
                                </tr>
                                <tr>
                                    <th scope="col">NOMBRE</th>
                                    <th scope="col">PRECIO</th>
                                    <th scope="col">CANTIDAD</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% if request.session.carro.items %}
                            {% for key, value in request.session.carro.items %}
                                <tr>
                                    <td>{{value.nombre}}</td>
                                    <td>{{value.precio}}</td>
                                    <td>{{value.acumulado}}
                                        <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                                        <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">
                                    <div class="alert alert-danger text-center"> Sin Productos </div>
                                </td>
                            </tr>
                            {% endif %}
                                <tr>
                                    <th scope="row">Total:</th>
                                    <td colspan="2">€ {{total_carro}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>

                    <div class="row text-center">
                        <div class="col-4"><a href="{% url 'CLS' %}" class="btn btn-danger">🗑️ Limpiar</a></div>
                        <div class="col-4"><a href="/contrareembolso" class="btn btn-success">💵 Pago contrareembolso</a></div>
                        <div class="col-4"><a href="/pasarela" class="btn btn-success">💳 Pago con tarjeta</a></div>
                    </div><br><br>

                </div>
            </div>       
        </div>

    </body>

{% endblock %}