{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <br><br>
        <div class="row" style="text-align:center">           
            <h1>
                Contacta con nosotros<br><br>
            </h1>
        </div>

        
        <div class="row" style="text-align:center">
            <p style="font-size:larger">
                Por favor, póngase en contacto con nosotros mediante correo o llamada.
                <br><br>
                Horario:<br>
                Lunes a viernes: 10:00 - 21:00<br>
                Fin de semana y festivos: 10:00 - 14:00<br>
                <br>
                email: <a href="mailto:eseeds@gmail.com">eseeds@gmail.com</a><br>
                tlf: <a href="tel:+34654654654">654654654</a><br>
            </p>
        </div>
        <br>        
    </div>

{% endblock %}