{% extends 'base.html' %}

{% block content %}

    <head>
        <title>{% block title %} Correo recibido {% endblock %}</title>

    </head>

    <body>

        <div class="container" style="text-align:center">
            <div class="row">
                <div class="col-12">
                    <br>
                    <h1><b>Su correo se ha tramitado con éxito.</b></h1><br>

                    <p>Nuestros agentes han recibido su correo y lo responderán en un plazo de 24 a 48 horas laborables.<br>
                        Muchas gracias por depositar su confianza en nosotros.</p><br><br>
                </div>
            </div>       
        </div>

    </body>

{% endblock %}