{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <br><br>
        <h1 class="datos-empresa" style="text-align:center">
            Sobre nosotros<br><br>
        </h1>

        <div class="row" style="text-align:center">           
            <p style="font-size:larger">
                <img src="https://seeklogo.com/images/U/universidad-de-sevilla-logo-214320A847-seeklogo.com.png" alt="Universidad de Sevilla"><br><br><br>
                Somos una empresa localizada en Sevilla orientada a ofrecer soluciones de cultivo.<br>
                eSeeds es un proyecto fundado en septiembre de 2022 por la Universidad de Sevilla. 
            </p>
        </div>

        
        <div class="row" style="text-align:center">
            <p style="font-size:larger">
                
            </p>
        </div>
        <br>        
    </div>

{% endblock %}