{% extends 'base.html' %}

{% block content %}

    <div class="container" style="text-align:center">
        <br>
        <h1 class="titulo-politica">Formas de entrega</h1>

        <br>
        <div class="row">           
            <p style="font-size:larger">
                Nuestra empresa contempla tres tipos de entrega para sus pedidos.
                <br>
                <br>
                Envío a punto de recogida (oficina de correos o similares).
                <br>
                <br>
                Envío a la dirección indicada por parte del cliente al realizar el pedidos.
                <br>
                <br>
                Por último, los clientes que lo deseen pueden recoger su pedido <br>
                directamente en la sede de la empresa, en recepción, en el rango <br>
                de horario de apertura indicado en el pie de página.<br><br>
            </p>
        </div>        
        <br>

    </div>

{% endblock %}