<footer class="bg-dark">
    <p style="text-align:center;">
        <br><br>
        👤 <a class="footer-text" href="/datos_empresa">Sobre nosotros</a><br>
        📩 <a class="footer-text" href="/contacto">Contacta con nosotros</a><br><br>
    </p>   
    <p class="white-text" style="text-align:center;">
        Av. de la Reina Mercedes<br>
        Escuela Técnica Superior de Ingeniería Informática<br>
        Universidad de Sevilla<br>
        41012 Sevilla<br><br>
    </p>    
    <hr style="height:2px;border-width:0;color:gray;background-color:gray"><br>
    <p class="grey-text" style="text-align:center;">
        <i>eSeeds ©2022, Todos los derechos reservados.</i><br><br><br>
    </p>
</footer>