{% extends 'base.html' %}

{% block content %}

    <head>
        <title>{% block title %} Muchas gracias {% endblock %}</title>

    </head>

    <body>

        <div class="container" style="text-align:center">
            <div class="row">
                <div class="col-12">
                    <br>
                    <h1><b>Su pedido se ha tramitado con éxito.</b></h1><br>

                    <p>Por favor, encuentre en su buzón email la confirmación del pedido.<br>
                    En él encontrará el identificador de su pedido, el cual podrá usar para comprobar su <a href="{% url 'seguimiento' %}">estado</a>.</p>

                    <p>Nuestros agentes han recibido su pedido y lo prepararán en un plazo de 24 a 48 horas laborables.<br>
                        Muchas gracias por depositar su confianza en nuestros productos.</p><br><br>
                </div>
            </div>       
        </div>

    </body>

{% endblock %}