{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <br><br>
        <h1 class="titulo-politica" style="text-align:center">Política de envío gratuito</h1>

        <div class="row" style="text-align:center">           
            <p style="font-size:larger">
                Nuestra empresa contempla un envío gratuito para todos los pedidos que superen el importe de 19,99€.
                <br>
                En caso contrario, el importe del envío estándar será de 3€.
            </p>
        </div>
        <br>        
    </div>

{% endblock %}