{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h2 class="titulo-devolucion" style="text-align:center">Política de devolución</h2>
        
        <div class="row" style="text-align:center">
            <p style="font-size:larger">
                Se permitirá al cliente hacer la devolución en un plazo máximo de 7 días desde la entrega del pedido.<br>
                El producto deberá estar en perfectas condiciones y sin haber sido usado por parte del cliente.
                <br><br>
                Para recurrir a nuestra política de envío gratuito, escriba un correo electrónico a nuestro e-mail   <br>
                corporativo, indicado en la pestaña de datos de empresa. En el asunto de dicho correo se deberá      <br>
                indicar la ID del pedido seguido de la palabra "Devolución".
                <br>
                En el contenido se indicará el/los motivo/s de la devolución que se quiere realizer y la empresa     <br>
                responderá a la mayor brevedad posible aceptando o rechazando (indicando los motivos) la petición.
            </p>
        </div>
        <br>        
    </div>

{% endblock %}