{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <br><br>
        <h1 style="text-align:center">Política de envío gratuito</h1>

        <div class="row" style="text-align:center">           
            <p style="font-size:larger">
                <br>Nuestra empresa contempla un envío gratuito para todos los pedidos que superen el importe de 19,99€.
                <br>
                En caso contrario, el importe del envío estándar será de 3€.<br><br>
            </p>
        </div>
        <br>        
    </div>

{% endblock %}