{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <br><br>
        <h1 class="privacy" style="text-align:center">
            Política de privacidad<br><br>
        </h1>

        <div class="row" style="text-align:center">           
            <p style="font-size:larger">

                Los términos recogidos a continuación y en especial el deber de confidencialidad
                serán de obligado cumplimiento para todo el personal interno o externo que trabaje
                o pudiera trabajar con nosotros y que tengan acceso a los datos que nos facilites,
                bien durante la navegación en nuestra Web, por la utilización de nuestros formularios
                o durante la contratación o prestación de los servicios.<br><br>

                En caso de que vayamos a utilizar los datos personales de los Usuarios, Potenciales Clientes o Clientes,
                de una manera distinta a lo establecido en la Política de Privacidad vigente al momento de facilitarnos los datos;
                o en caso de que vayamos a tratarlos con finalidades distintas a las indicadas en el momento en que nos facilites tus datos,
                haremos el esfuerzo posible para contactarte como afectado, para informarte y recabar de nuevo el consentimiento.
                En caso contrario, no usaremos los datos para finalidades distintas.<br><br>
                
                Usted da su consentimiento para compartir sus datos de facturación y de envío con la empresa de transporte.
                No se compartirán ni se comercializará con sus datos con otros terceros.
            </p>
        </div>
    </div>

{% endblock %}