{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <br><br>
        <h1 class="privacy" style="text-align:center">
            Términos y Condiciones de uso<br><br>
        </h1>

        <div class="row" style="text-align:center">  
            <h2 style="text-align:center">1. Términos<br><br></h2>     
            <p style="font-size:larger">
                Al acceder al sitio web en eSeeds.com, usted acepta estar vinculado por estos términos de servicio,
                todas las leyes y regulaciones aplicables, y acepta que usted es responsable del cumplimiento de las 
                Leyes locales aplicables. Si no está de acuerdo con alguno de estos términos, se le prohíbe utilizar
                o acceder a este sitio. Los materiales contenidos en este sitio web están protegidos por las leyes
                de derechos de autor y marcas aplicables.<br><br>
            </p>

            <h2 style="text-align:center">2. Licencia de Uso<br><br></h2>     
            <p style="font-size:larger">
                Se concede permiso para descargar temporalmente una copia de los materiales (información o software)
                en el sitio web eSeeds.com para la visualización transitoria personal y no comercial solamente. Esta
                es la concesión de una licencia, no una transferencia de título, y bajo esta licencia usted no puede:

                Modificar o copiar los materiales; utilizar los materiales para cualquier propósito comercial, o para
                cualquier exhibición pública (comercial o no comercial); intentar descompilar o realizar ingeniería
                inversa de cualquier software contenido en el sitio web de eSeeds.com; eliminar cualquier Copyright
                u otras anotaciones propietarias de los materiales; o transferir los materiales a otra persona o
                «reflejar» los materiales en cualquier otro servidor.<br><br>
            </p>

            <h2 style="text-align:center">2. Licencia de Uso<br><br></h2>     
            <p style="font-size:larger">
                Se concede permiso para descargar temporalmente una copia de los materiales (información o software)
                en el sitio web eSeeds.com para la visualización transitoria personal y no comercial solamente. Esta
                es la concesión de una licencia, no una transferencia de título, y bajo esta licencia usted no puede:<br>

                Modificar o copiar los materiales; utilizar los materiales para cualquier propósito comercial, o para
                cualquier exhibición pública (comercial o no comercial); intentar descompilar o realizar ingeniería
                inversa de cualquier software contenido en el sitio web de eSeeds.com; eliminar cualquier Copyright
                u otras anotaciones propietarias de los materiales; o transferir los materiales a otra persona o
                «reflejar» los materiales en cualquier otro servidor.<br>
                
                Esta licencia se terminará automáticamente si usted viola cualquiera de estas restricciones y puede
                ser terminada por eSeeds.com en cualquier momento. Al terminar su visualización de estos materiales
                o al finalizar esta licencia, debe destruir cualquier material descargado en su posesión ya sea en
                formato electrónico o impreso.<br><br>
            </p>

            <h2 style="text-align:center">3. Limitaciones<br><br></h2>     
            <p style="font-size:larger">
                En ningún caso eSeeds.com o sus proveedores serán responsables de ningún daño (incluyendo, sin limitación,
                daños por pérdida de datos o beneficio, o debido a la interrupción del negocio) que surjan del uso o la
                incapacidad de utilizar los materiales en el sitio web de eSeeds.com, incluso si eSeeds.com o un representante
                autorizado de eSeeds.com ha sido notificado verbalmente o por escrito de la posibilidad de tal daño. Debido
                a que algunas jurisdicciones no permiten limitaciones a las garantías implícitas, o limitaciones de responsabilidad
                por daños consecuentes o incidentales, es posible que estas limitaciones no se apliquen a usted.<br><br>
            </p>

            <h2 style="text-align:center">4. Exactitud de Materiales<br><br></h2>     
            <p style="font-size:larger">
                Los materiales que aparecen en el sitio web de eSeeds.com pueden incluir errores técnicos, tipográficos o fotográficos.
                eSeeds.com no garantiza que cualquiera de los materiales en su sitio web son exactos, completos o actuales. eSeeds.com
                puede realizar cambios en los materiales contenidos en su sitio web en cualquier momento sin previo aviso. Sin embargo
                eSeeds.com no se compromete a actualizar los materiales.<br><br>
            </p>

            <h2 style="text-align:center">5. Modificaciones<br><br></h2>     
            <p style="font-size:larger">
                eSeeds.com puede revisar estos términos de servicio para su sitio web en cualquier momento sin previo aviso. Al utilizar
                este sitio web, usted acepta estar vinculado por la versión actual de estos términos de servicio.<br><br>
            </p>
            
            <h2 style="text-align:center">6. Ley Aplicable<br><br></h2>     
            <p style="font-size:larger">
                Estos términos y condiciones se rigen e interpretan de acuerdo con las leyes globales y usted se somete irrevocablemente
                a la jurisdicción exclusiva de los tribunales en ese estado o ubicación.<br><br>
            </p>
        </div>     
    </div>

{% endblock %}